/* Lab website specific styles */

/* Twitter panel on front page */
.twitter-panel-heading {
	text-align: center;
	background-color: #00ACED;
}

.numberCircle {
  display: inline-block;
  border-radius: 50%;
  behavior: url(PIE.htc);
  /* remove if you don't care about IE8 */
  width: 18px;
  height: 18px;
  padding: 4px;
  background: #FF0000;
  text-align: center;
  font: 10px Arial, sans-serif;
  color: #FFFFFF;
}

/* Publications */
.img-journal-cover {
	height:200px ;
}

.div-journal-cover{
	text-align: center;
}

.paper-info-list {
	line-height: 2
}

.paper-info-list-item {
	margin: 0 0 10px 0 ;
}

.paper-authors {
	font-weight: bold;
}

.footnote-paper {
	font-size: 80%;
	font-style: italic;
	text-align: right;
}

.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}


/* Lab members */
.img-lab-member {
	width:100%;
}


/* Style for caption of carousel */
.carousel-caption
			{
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 10;
				padding-top: 20px;
				padding-bottom: 50px;
				color: #fff;
				text-align: center;
				background: rgba(0,0,0,0.4);
			}



/* Style for the overlay logo on the index site */
.overlaylogo {
	background: url(images/DKFZ.gif) top left no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	pointer-events: none;
}

.overlaytitle {
	position: absolute;
	top: 15em;
	left: 25%;
	z-index: 20;
	pointer-events: none;
	text-align: center;
	color: #FFFFFF;
	opacity: 1;
}

.rectangletitle {
	background: #000000;
	position: absolute;
	top: 15em;
	left: 20%;
	width: 60%;
	height: 10em;
	z-index: 15;
	pointer-events: none;
	opacity: 0.7;
}